<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202700464220-681dj4js8hsuk9ljj4i9jp3m8id6logj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202700464220-681dj4js8hsuk9ljj4i9jp3m8id6logj</string>
	<key>API_KEY</key>
	<string>AIzaSyDsx4vhirca3kmu3l3Wn0vALiwhrAW5nI4</string>
	<key>GCM_SENDER_ID</key>
	<string>202700464220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dhruvam.firebaseMessagingScaler</string>
	<key>PROJECT_ID</key>
	<string>firebase-messaging-scaler</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-messaging-scaler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202700464220:ios:9520c433dc93ac7ed14699</string>
</dict>
</plist>